section.no-display
  #4.item.blog
    .page-head
      .row
        .col-md-5
          h3 Blog
        .col-md-7
          .np-main
            p Go to next/previous page
            .np-controls
              a.previous(href='#')
                i.fa.fa-arrow-circle-left
              a.next(href='#')
                i.fa.fa-arrow-circle-right
    .blog-wrap
      article
        .row
          .col-md-5
            img.img-responsive(src='img/blog/1.jpg', alt='')
          .col-md-7
            h3
              a(href='./blog-single.html') Standard Post with Image
            .post-meta
              i.fa.fa-calendar
              a(href='#') 30 march
              i.fa.fa-user
              a(href='#') Admin
              i.fa.fa-comments
              a(href='#') 10 Comments
            p
              | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
      .link-post
        .row
          .col-md-12
            i.fa.fa-link
            a(href='http://www.themeforest.net', target='_blank') www.themeforest.net
      article
        .row
          .col-md-5
            img.img-responsive(src='img/blog/2.jpg', alt='')
          .col-md-7
            h3
              a(href='./blog-single.html') Standard Post with Image
            .post-meta
              i.fa.fa-calendar
              a(href='#') 30 march
              i.fa.fa-user
              a(href='#') Admin
              i.fa.fa-comments
              a(href='#') 10 Comments
            p
              | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
      .quote-post
        .row
          .col-md-12
            blockquote
              | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aene.This is photoshop's version f Lorem Ipsum.
            i.fa.fa-quote-left
            span.author-name John Smith
      article.no-border
        .row
          .col-md-5
            img.img-responsive(src='img/blog/3.jpg', alt='')
          .col-md-7
            h3
              a(href='./blog-single.html') Standard Post with Image
            .post-meta
              i.fa.fa-calendar
              a(href='#') 30 march
              i.fa.fa-user
              a(href='#') Admin
              i.fa.fa-comments
              a(href='#') 10 Comments
            p
              | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
