footer
  .row
    .col-md-7
      p © 2014 mind.deep.tw
    .col-md-5
      ul.social
        li
          a(href='https://zh-tw.facebook.com/freebsd.py')
            i.fa.fa-facebook
        li
          a(href='https://twitter.com/daniel_freebsd')
            i.fa.fa-twitter
