section.no-display
  #1.profile
    h2
      | Hello, I am
      span Robb Armstrong
      br
      | Designer and Front-end Developer
    .sep1
    p
      | I have ten years experience as a web/interface designer. I have a love of clean, elegant styling, and I have lots of experience in the production of CSS and (X)HTML for modern websites. I have a reasonable grasp of using JavaScript frameworks, specifically jQuery.
    .personal-info.col-md-12.no-padding
      h4 Personal Info
      .sep2
      ul
        li
          .p-info
            em name
            span Robb Armstrong
        li
          .p-info
            em date of birth
            span September 06, 1976
        li
          .p-info
            em e-mail
            span info@yourdomain.com
        li
          .p-info
            em address
            span 121 King St, Melbourne VIC
        li
          .p-info
            em phone
            span 012-3456-7890
        li
          .p-info
            em website
            span www.themeforest.net
    .clearfix
