section.no-display
  #3.item.resume
    .page-head
      .row
        .col-md-5
          h3 Resume
        .col-md-7
          .np-main
            p Go to next/previous page
            .np-controls
              a.previous(href='#')
                i.fa.fa-arrow-circle-left
              a.next(href='#')
                i.fa.fa-arrow-circle-right
    .resume-info
      h4 Education
      .sep2
      ul
        li
          h5 Academy of Art University
          span.year
            i.fa.fa-calendar
            | 2001 - 2004
          p
            | Academy of Art University's School of Web Design & New Media is the intersection between traditional design and new technologies.
        li
          h5 IT Technical Institute
          span.year
            i.fa.fa-calendar
            | 2005 - 2008
          p
            | Information technology (IT) workers can be found in many types of organizations. According to the U.S. Department of Labor, "In the modern workplace, it is imperative that Information Technology (IT) works both effectively and reliably
        li
          h5 Web Design School
          span.year
            i.fa.fa-calendar
            | 2009 - 2012
          p
            | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
    .skills-info
      h4 Skills
      .sep2
      ul
        li
          p
            | Wordpress Development
            span 71%
          .skills-bg
            span.skill1
        li
          p
            | Photoshop
            span 85%
          .skills-bg
            span.skill2
        li
          p
            | HTML5/CSS3
            span 76%
          .skills-bg
            span.skill3
        li
          p
            | Ruby on Rails
            span 53%
          .skills-bg
            span.skill4
        li
          p
            | Social Marketing
            span 69%
          .skills-bg
            span.skill5
    .services-info
      h4 Services
      .sep2
      ul
        li
          i.fa.fa-cloud
          h5 Design
        li
          i.fa.fa-smile-o
          h5 Coding
        li
          i.fa.fa-desktop
          h5 Responsive
        li
          i.fa.fa-text-width
          h5 Planing
        li
          i.fa.fa-comment
          h5 Wordpress
        li
          i.fa.fa-picture-o
          h5 Photography
    .resume-info
      h4 Work Experience
      .sep2
      ul
        li
          h5 Graphic River
          span.year
            i.fa.fa-calendar
            | 2001 - 2004
          p
            | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
        li
          h5 Video Hive
          span.year
            i.fa.fa-calendar
            | 2005 - 2008
          p
            | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        li
          h5 Themeforest
          span.year
            i.fa.fa-calendar
            | 2009 - 2014
          p
            | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
