section.no-display
  #2.works
    .page-head
      .row
        .col-md-5
          h3 Portfolio
        .col-md-7
          .np-main
            p Go to next/previous page
            .np-controls
              a.previous(href='#')
                i.fa.fa-arrow-circle-left
              a.next(href='#')
                i.fa.fa-arrow-circle-right
    .portfolio-wrap
      .row
        ul#filter-list.clearfix
          li.filter(data-filter='all')
            i.fa.fa-th
            | All
          li.filter(data-filter='webdesign') Web Design
          li.filter(data-filter='appicon') App Icons
          li.filter(data-filter='iosappui') iOS App UI
          li.filter(data-filter='illustration') Illustration
        ul#portfolio
          li.item.col-md-4.webdesign
            a.nivo-lbox(href='img/projects/1-big.jpg')
              .folio-img
                img.img-responsive(src='img/projects/1.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.illustration
            a.nivo-lbox(href='https://www.youtube.com/watch?v=L9szn1QQfas')
              .folio-img
                img.img-responsive(src='img/projects/2.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.appicon
            a.nivo-lbox(href='http://vimeo.com/71071717')
              .folio-img
                img.img-responsive(src='img/projects/3.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.iosappui
            a.nivo-lbox(href='img/projects/1-big.jpg')
              .folio-img
                img.img-responsive(src='img/projects/4.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.iosappui
            a.nivo-lbox(href='img/projects/1-big.jpg')
              .folio-img
                img.img-responsive(src='img/projects/5.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.illustration
            a.nivo-lbox(href='img/projects/1-big.jpg')
              .folio-img
                img.img-responsive(src='img/projects/6.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.webdesign
            a.nivo-lbox(href='img/projects/1-big.jpg')
              .folio-img
                img.img-responsive(src='img/projects/7.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.iosappui
            a.nivo-lbox(href='img/projects/1-big.jpg')
              .folio-img
                img.img-responsive(src='img/projects/8.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.webdesign
            a.nivo-lbox(href='img/projects/1-big.jpg')
              .folio-img
                img.img-responsive(src='img/projects/9.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.illustration
            a.nivo-lbox(href='img/projects/1-big.jpg')
              .folio-img
                img.img-responsive(src='img/projects/10.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.appicon
            a.nivo-lbox(href='img/projects/1-big.jpg')
              .folio-img
                img.img-responsive(src='img/projects/11.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
          li.item.col-md-4.iosappui
            a.nivo-lbox(href='img/projects/1-big.jpg')
              .folio-img
                img.img-responsive(src='img/projects/12.jpg', alt='')
                .overlay
                  .overlay-inner
                    h4 Cool App Design
                    p branding, logo
