.row
  .col-md-3.l-content
    .profile-pic
      .pic-bg
        img.img-responsive(src='img/profile-avatar.png', alt='')
    nav
      ul.navigation
        li
          a(href='#')
            | Blog
            i.fa.fa-comment
        li
          a(href='#')
            | Profile
            i.fa.fa-user
        li
          a(href='#')
            | Work
            i.fa.fa-briefcase
        li
          a(href='#')
            | Resume
            i.fa.fa-file-text
        li
          a(href='#')
            | Contact
            i.fa.fa-envelope
  .col-md-9.r-content
    .flexslider
      .slides
        include _blog
        include _profile
        include _work
        include _resume
        include _contact
