!!! 5
html
  head
    title= title
    include _header
  body
    #mask
      .loader
        img(src='img/loading.gif', alt='loading')
    .main-content
      .container.no-padding
        != content

        include _footer
    include _script
